<div class="container">
    <div class ="rubik-title">
        <h2>Rubik title</h2>
    </div>
    <div class="rubik-view-type">
        <button class="threed-view-btn">
            <img src="assets/images/rubik.png" alt="rubik.png">
        </button>    
        <button class="flat-view-btn">
         <img src="assets/images/Rubik's_cube_colors.png" alt="Rubik's_cube_colors.png">
        </button>
    </div>
    <div class="rubik-view">
    </div>
    <div class="color-palette">
       <app-color-palette></app-color-palette>
    </div>
    <div class ="support-btn">
    <button class="sp-btn">
    <span class="text">
        Blank
        </span>

        <img src="assets/images/icons8-file-30.png" class="img-modi"  alt="icons8-file-30.png">

    </button>
    <button class="sp-btn">
    <span class="text">
        Reset
    </span>
    <img src="assets/images/circle-of-two-clockwise-arrows-rotation.png" alt="circle-of-two-clockwise-arrows-rotation.png">
    </button>
    <button class="sp-btn-special">
       <span class="text">Scramble</span>
       <img src="assets/images/icons8-double-arrow-64.png" alt="icons8-double-arrow-64.png">
    </button>
    </div>
</div>