.container
{   position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.rubik-title
{
    margin-top: 100px;
    width:fit-content;
    font-weight: bolder;
}

.rubik-view-type
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}


.threed-view-btn
{
    margin-right: 50px;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    cursor: pointer;
}


.flat-view-btn
{
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 60px;
}

.flat-view-btn img{
    width: 50px;
    height: 50px;
}

.threed-view-btn img
{
   width: 50px;
   height: 50px;
}

.rubik-view
{   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 50vh;
}
 

.not-found-view
{ 
  position:relative;
  height: 50vh;
}
app-not-found
{
  position: fixed;
}


.rubik-flat-view
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height:auto;
  margin-left: 250px;
}



.rubik-cube
{
    width: 300px;
    height: 300px;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-32deg) rotateY(320deg);
    transition:transform 0.7s ease;
}

.rubik-flat-cube
{
  width: auto;
  height: auto;
  position: relative;
  flex-direction: column;
}

.rubik-face
{   
    position: absolute;
    width: 300px;
    height: 300px;
}

.rubik-flat-face
{
  position:relative;
  width:300px;
  height: 300px;
}



.front
{
    transform: translateZ(150px); 
}

.front-color
{
    background-color: green;
}

.back
{
    transform: rotateY(180deg) translateZ(150px);
}
.back-color
{
    background-color: blue;
}
.top
{
transform: rotateX(90deg) translateZ(150px);
}

.row
{
  display: flex;
}

.top-flat
{
 margin-left: 300px;
}
// .front-flat
// {
//   transform: translateY(100px);
// }
// .left-flat
// {
//   transform:translateX(90px);
// }
// .right-flat
// {
//   transform: translateX(90px);
// }
// .back-flat
// {
//   transform: translateX(90px);
// }
.bottom-flat
{
  margin-left: 300px;
}

.top-color
{
    background-color:whitesmoke;
}

.bottom
{
    transform: rotateX(-90deg) translateZ(150px);
    
}

.bottom-color
{
    background-color:yellow;
}

.left
{
transform: rotateY(-90deg) translateZ(150px);
}

.left-color
{
    background-color: orange;
}
.right
{
 transform: rotateY(90deg) translateZ(150px);
}

.right-color
{
  background-color:red ;
}

@keyframes spin {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }


.block
{   position: absolute;
    width: 100px;
    height: 100px;
    border:2px solid black;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease-in-out,transparency 0.2s,box-shadow 0.2s;
}

.block_2x2
{
  position: absolute;
  width: 150px;
  height: 150px;
  border:2px solid black;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease-in-out,transparency 0.2s,box-shadow 0.2s;
}

.block:hover
{
 border:3px solid black;
 box-shadow: 2px 2px 10px black inset;
 top:1px;
 left: 1px;
}

.block_2x2:hover
{
  border:3px solid black;
  box-shadow: 2px 2px 10px black inset;
  top:1px;
  left: 1px;
}


.block_2x2:nth-child(1)
{
  top:0;
  left: 0;
}

.block_2x2:nth-child(2)
{
  top:0;
  left: 150px;
}
.block_2x2:nth-child(3)
{
  top:150px;
  left: 0px;
}
.block_2x2:nth-child(4)
{
  top:150px;
  left: 150px;
}

.block:nth-child(1) {
    top: 0;
    left: 0;
  }

  .block:nth-child(2) {
    top: 0;
    left: 100px;
  }

  .block:nth-child(3) {
    top: 0;
    left: 200px;
  }

  .block:nth-child(4) {
    top: 100px;
    left: 0;
  }

  .block:nth-child(5) {
    top: 100px;
    left: 100px;
  }

  .block:nth-child(6) {
    top: 100px;
    left: 200px;
  }

  .block:nth-child(7) {
    top: 200px;
    left: 0;
  }

  .block:nth-child(8) {
    top: 200px;
    left: 100px;
  }

  .block:nth-child(9) {
    top: 200px;
    left: 200px;
  }


.result-logs
{
  margin-left:50%;
  bottom: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.logs
{
  width: 450px;
  height: 300px;
  position:absolute;
  font-size: 20px;
  font-weight: bold;
  color:#66afe9;
}



.show-camera
{
 margin-right:75%;
 margin-top: 50px;
}

.btn-camera
{
 width: 75px;
 height: 75px;
 border-radius: 5px;
 cursor: pointer;
 position: relative;
}
.btn-camera img
{
width: 50px;
height: 50px;
}


.show-video
{ position: absolute;
  top:20%;
  left:30%;
  z-index:1000;
  max-width: 100%;
  height: auto;
  width:auto;
  box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);

}


.device
{
  margin-top:10px;
}

.custom-select
{
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 15px;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.custom-select:focus
{
border-color: #66afe9;
outline: none;
box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.custom-select option
{
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.support-btn
{   margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.rotate-btn
{
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}

.left-rotate-btn
{
  border:none;
  padding:0;
  background: none;
  cursor: pointer;
  margin-right: 100px;
}

.left-img
{
width: 70px;
height: 70px;
position: relative;
}


.right-rotate-btn
{
  border:none;
  padding:0;
  background:none;
  cursor:pointer;
  margin-left: 100px;
}

.up-down-btn
{
  border:none;
  padding:0;
  background:none;
  cursor: pointer;
  margin-top: 100px;
}

.up-down-img
{
  width: 70px;
  height: 70px;
  position: relative;
}



.right-img
{
  width: 70px;
  height: 70px;
  position: relative;
}

.sp-btn
{
  width: 100px;
  height: 50px;
  margin-left: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}


.sp-btn img
{
display: inline-block;
 width: 25px;
 height: 25px;
 position: relative;
 margin-top: 10px;
 z-index: -100000;
}

.text
{  display: inline-block;
    margin-left: 10%;
    font-size: 15px;
    font-weight: bolder;
    float: left;
    position: relative;
    margin-top: 15px;
    z-index: -100000;
}

.sp-btn-special
{
  width: 130px;
  height: 50px;
  margin-left: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

.sp-btn-special img
{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
    z-index: -100000;
}

.support-btn .sp-btn-border :hover
{
    transform: scale(1.1);
    transition-delay: 0s;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}



.sp-btn-special :hover
{
    transform: scale(1.075);
    transition-delay: 0s;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: transparent;
}