.container
{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.rubik-title
{
    margin-top: 100px;
}

.rubik-view-type
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}


.threed-view-btn
{
    margin-right: 50px; 
    border-radius: 10px;
    width: 100px ;
    height: 60px;
    cursor: pointer;
}


.flat-view-btn
{
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 60px;
}

.flat-view-btn img{
    width: 50px;
    height: 50px;
}

.threed-view-btn img
{
   width: 50px;
   height: 50px;
}

.rubik-view
{   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 50vh;
}
.rubik-cube
{
    width: 300px;
    height: 300px;
    position: absolute;
    transform-style: preserve-3d;
    // transform: rotateX(320deg) rotateY(320deg) rotateZ(300deg);
    transition:transform 0.2s ease;
}


.rubik-face
{   
    position: absolute;
    width: 300px;
    height: 300px;
}

.front
{
    transform: translateZ(150px); 
}

.front-color
{
    background-color: #008000;
}

.back
{
    transform: rotateY(180deg) translateZ(150px);
}
.back-color
{
    background-color: #0000ff;

}
.top
{
transform: rotateX(90deg) translateZ(150px);
}

.top-color
{
    background-color:#fff;

}

.bottom
{
    transform: rotateX(-90deg) translateZ(150px);
}

.bottom-color
{
    background-color:#ffff00;

}

.left
{
transform: rotateY(-90deg) translateZ(150px);
}

.left-color
{
    background-color: #ff8c00;

}
.right
{
 transform: rotateY(90deg) translateZ(150px);
}

.right-color
{
    background-color:#ff0000 ;

}

@keyframes spin {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }


.block
{   position: absolute;
    width: 100px;
    height: 100px;
    border:2px solid black;
    display: inline-block;
    cursor: pointer;
}


.block:nth-child(1) {
    top: 0;
    left: 0;
  }

  .block:nth-child(2) {
    top: 0;
    left: 100px;
  }

  .block:nth-child(3) {
    top: 0;
    left: 200px;
  }

  .block:nth-child(4) {
    top: 100px;
    left: 0;
  }

  .block:nth-child(5) {
    top: 100px;
    left: 100px;
  }

  .block:nth-child(6) {
    top: 100px;
    left: 200px;
  }

  .block:nth-child(7) {
    top: 200px;
    left: 0;
  }

  .block:nth-child(8) {
    top: 200px;
    left: 100px;
  }

  .block:nth-child(9) {
    top: 200px;
    left: 200px;
  }



.support-btn
{  margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}



.sp-btn
{
  width: 100px;
  height: 50px;
  margin-left: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

.sp-btn img
{
display: inline-block;
 width: 25px;
 height: 25px;
 position: relative;
 margin-top: 10px;
 z-index: -100000;
}

.text
{  display: inline-block;
    margin-left: 10%;
    font-size: 15px;
    font-weight: bolder;
    float: left;
    position: relative;
    margin-top: 15px;
    z-index: -100000;
}

.sp-btn-special
{
  width: 130px;
  height: 50px;
  margin-left: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

.sp-btn-special img
{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
    z-index: -100000;
}

.support-btn .sp-btn-border :hover
{
    transform: scale(1.1);
    transition-delay: 0s;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}



.sp-btn-special :hover
{
    transform: scale(1.075);
    transition-delay: 0s;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: transparent;
}