<div class="container">
    <div class ="rubik-title">
        <h1>{{rubikName}}</h1>
    </div>
    <div class="rubik-view-type">
      
        <button class="threed-view-btn" (click)="switchThreeD()" [style.background-color]="threeDColor">
            <img src="assets/images/rubik.png" alt="rubik.png">
        </button>    
        <button class="flat-view-btn" (click)="switchFlatView()" [style.background-color]="flatColor">
         <img src="assets/images/Rubik's_cube_colors.png" alt="Rubik's_cube_colors.png">
        </button>
    </div>
   
  @if(rubikName=="Rubik's 3x3")
  {
    @if(is_camera_click)
    {
     <div class="show-video">
      <h2>Hello man</h2>    
      <!-- <video #video_player width="650" height="650" autoplay></video> -->
     </div>
    }
   @if(isShowThreeD)
   {
    <div class="rubik-view" (mousedown)="startRotate($event)" (mouseup)="stopRotate()" >
        <div class="rubik-cube" [style.transform]="cubeRotateStyle">    
        <div class="rubik-face front">
          <button class="block front-color" data-field="19" id="19" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[18]"></button>
          <button class="block front-color" data-field="20" id="20" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[19]"></button>
          <button class="block front-color" data-field="21" id="21" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[20]"></button>
          <button class="block front-color" data-field="22" id="22" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[21]"></button>
          <button class="block front-color" data-field="23" id="23" (click)="changeBlockColor($event)"></button>
          <button class="block front-color" data-field="24" id="24" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[23]"></button>
          <button class="block front-color" data-field="25" id="25" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[24]"></button>
          <button class="block front-color" data-field="26" id="26" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[25]"></button>
          <button class="block front-color" data-field="27" id="27" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[26]"></button>
        </div>
        <div class="rubik-face back">
            <button class="block back-color" data-field="37" id="37" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[36]"></button>
            <button class="block back-color" data-field="38" id="38" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[37]"></button>
            <button class="block back-color" data-field="39" id="39" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[38]"></button>
            <button class="block back-color" data-field="40" id="40" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[39]"></button>
            <button class="block back-color" data-field="41" id="41" (click)="changeBlockColor($event)" ></button>
            <button class="block back-color" data-field="42" id="42" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[41]"></button>
            <button class="block back-color" data-field="43" id="43" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[42]"></button>
            <button class="block back-color" data-field="44" id="44" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[43]"></button>
            <button class="block back-color" data-field="45" id="45" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[44]"></button>

          </div>
          <div class="rubik-face top">
            <button class="block top-color" data-field="1" id="1" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[0]"></button>
            <button class="block top-color" data-field="2" id="2" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[1]"></button>
            <button class="block top-color" data-field="3" id="3" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[2]"></button>
            <button class="block top-color" data-field="4" id="4" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[3]"></button>
            <button class="block top-color" data-field="5" id="5" (click)="changeBlockColor($event)"></button>
            <button class="block top-color" data-field="6" id="6" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[5]"></button>
            <button class="block top-color" data-field="7" id="7" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[6]"></button>
            <button class="block top-color" data-field="8" id="8" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[7]"></button>
            <button class="block top-color" data-field="9" id="9" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[8]"></button>

          </div>
          <div class="rubik-face bottom">
            <button class="block bottom-color" data-field="46" id="46" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[45]"></button>
            <button class="block bottom-color" data-field="47" id="47" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[46]"></button>
            <button class="block bottom-color" data-field="48" id="48" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[47]"></button>
            <button class="block bottom-color" data-field="49" id="49" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[48]"></button>
            <button class="block bottom-color" data-field="50" id="50" (click)="changeBlockColor($event)"></button>
            <button class="block bottom-color" data-field="51" id="51" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[50]"></button>
            <button class="block bottom-color" data-field="52" id="52" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[51]"></button>
            <button class="block bottom-color" data-field="53" id="53" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[52]"></button>
            <button class="block bottom-color" data-field="54" id="54" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[53]"></button>
          </div>
          <div class="rubik-face left">
            <button class="block left-color" data-field="10" id="10" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[9]"></button>
            <button class="block left-color" data-field="11" id="11" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[10]"></button>
            <button class="block left-color" data-field="12" id="12" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[11]"></button>
            <button class="block left-color" data-field="13" id="13" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[12]"></button>
            <button class="block left-color" data-field="14" id="14" (click)="changeBlockColor($event)"></button>
            <button class="block left-color" data-field="15" id="15" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[14]"></button>
            <button class="block left-color" data-field="16" id="16" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[15]"></button>
            <button class="block left-color" data-field="17" id="17" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[16]"></button>
            <button class="block left-color" data-field="18" id="18" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[17]"></button>
          </div>
          <div class="rubik-face right">
            <button class="block right-color" data-field="28" id="28" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[27]"></button>
            <button class="block right-color" data-field="29" id="29" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[28]"></button>
            <button class="block right-color" data-field="30" id="30" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[29]"></button>
            <button class="block right-color" data-field="31" id="31" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[30]"></button>
            <button class="block right-color" data-field="32" id="32" (click)="changeBlockColor($event)"></button>
            <button class="block right-color" data-field="33" id="33" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[32]"></button>
            <button class="block right-color" data-field="34" id="34" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[33]"></button>
            <button class="block right-color" data-field="35" id="35" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[34]"></button>
            <button class="block right-color" data-field="36" id="36" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[35]"></button>
          </div>
    </div>
    </div>
    <div class="rotate-btn">
      <button class="left-rotate-btn"(click)="rotateLeftButton()">
        <img class="left-img" src="assets/images/curved-left-arrow.png" (mouseover)="changeImage('assets/images/arrow-left.png','left')" (mouseout)="changeImage('assets/images/curved-left-arrow.png','left')" alt="curved-left-arrow.png" [src]="curr_left_img">
    </button>
      <button class="up-down-btn" (click)="rotateUpsideDown()"><img class="up-down-img" src="assets/images/down-arrow.png" alt="down-arrow.png" (mouseover)="changeImage('assets/images/down-arrow (1).png','up-down')" (mouseout)="changeImage('assets/images/down-arrow.png','up-down')" [src]="curr_up_down_img"></button>
      <button class="right-rotate-btn" (click)="rotateRightButton()"><img class="right-img" src="assets/images/next.png" alt="next.png" (mouseover)="changeImage('assets/images/share.png','right')" (mouseout)="changeImage('assets/images/next.png','right')" [src]="curr_right_img"></button>
    </div>
}   

   @else
   {
    <div class="rubik-flat-view">      
      <div class="rubik-flat-cube">
        <div class="row">
          <div class="rubik-flat-face top-flat">
            <button class="block top-color" data-field="1" id="1" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[0]"></button>
            <button class="block top-color" data-field="2" id="2" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[1]"></button>
            <button class="block top-color" data-field="3" id="3" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[2]"></button>
            <button class="block top-color" data-field="4" id="4" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[3]"></button>
            <button class="block top-color" data-field="5" id="5" (click)="changeBlockColor($event)"></button>
            <button class="block top-color" data-field="6" id="6" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[5]"></button>
            <button class="block top-color" data-field="7" id="7" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[6]"></button>
            <button class="block top-color" data-field="8" id="8" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[7]"></button>
            <button class="block top-color" data-field="9" id="9" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[8]"></button>
          </div>
        </div>
        <div class="row">
        <div class="rubik-flat-face left-flat">
            <button class="block left-color" data-field="10" id="10" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[9]"></button>
            <button class="block left-color" data-field="11" id="11" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[10]"></button>
            <button class="block left-color" data-field="12" id="12" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[11]"></button>
            <button class="block left-color" data-field="13" id="13" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[12]"></button>
            <button class="block left-color" data-field="14" id="14" (click)="changeBlockColor($event)"></button>
            <button class="block left-color" data-field="15" id="15" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[14]"></button>
            <button class="block left-color" data-field="16" id="16" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[15]"></button>
            <button class="block left-color" data-field="17" id="17" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[16]"></button>
            <button class="block left-color" data-field="18" id="18" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[17]"></button>
        </div>
        <div class="rubik-flat-face front-flat">
          <button class="block front-color" data-field="19" id="19" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[18]"></button>
          <button class="block front-color" data-field="20" id="20" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[19]"></button>
          <button class="block front-color" data-field="21" id="21" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[20]"></button>
          <button class="block front-color" data-field="22" id="22" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[21]"></button>
          <button class="block front-color" data-field="23" id="23" (click)="changeBlockColor($event)"></button>
          <button class="block front-color" data-field="24" id="24" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[23]"></button>
          <button class="block front-color" data-field="25" id="25" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[24]"></button>
          <button class="block front-color" data-field="26" id="26" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[25]"></button>
          <button class="block front-color" data-field="27" id="27" (click)="changeBlockColor($event)" [style.background-color]="rubik_block_color[26]"></button>
        </div>

          <div class="rubik-flat-face right-flat">
            <button class="block right-color" data-field="28" id="28" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[27]"></button>
            <button class="block right-color" data-field="29" id="29" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[28]"></button>
            <button class="block right-color" data-field="30" id="30" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[29]"></button>
            <button class="block right-color" data-field="31" id="31" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[30]"></button>
            <button class="block right-color" data-field="32" id="32" (click)="changeBlockColor($event)"></button>
            <button class="block right-color" data-field="33" id="33" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[32]"></button>
            <button class="block right-color" data-field="34" id="34" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[33]"></button>
            <button class="block right-color" data-field="35" id="35" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[34]"></button>
            <button class="block right-color" data-field="36" id="36" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[35]"></button>
</div>
<div class="rubik-flat-face back-flat">
  <button class="block back-color" data-field="37" id="37" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[36]"></button>
  <button class="block back-color" data-field="38" id="38" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[37]"></button>
  <button class="block back-color" data-field="39" id="39" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[38]"></button>
  <button class="block back-color" data-field="40" id="40" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[39]"></button>
  <button class="block back-color" data-field="41" id="41" (click)="changeBlockColor($event)" ></button>
  <button class="block back-color" data-field="42" id="42" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[41]"></button>
  <button class="block back-color" data-field="43" id="43" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[42]"></button>
  <button class="block back-color" data-field="44" id="44" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[43]"></button>
  <button class="block back-color" data-field="45" id="45" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[44]"></button>
</div>
</div>  

<div class="row">
  <div class="rubik-flat-face bottom-flat">
    <button class="block bottom-color" data-field="46" id="46" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[45]"></button>
    <button class="block bottom-color" data-field="47" id="47" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[46]"></button>
    <button class="block bottom-color" data-field="48" id="48" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[47]"></button>
    <button class="block bottom-color" data-field="49" id="49" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[48]"></button>
    <button class="block bottom-color" data-field="50" id="50" (click)="changeBlockColor($event)"></button>
    <button class="block bottom-color" data-field="51" id="51" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[50]"></button>
    <button class="block bottom-color" data-field="52" id="52" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[51]"></button>
    <button class="block bottom-color" data-field="53" id="53" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[52]"></button>
    <button class="block bottom-color" data-field="54" id="54" (click)="changeBlockColor($event)"  [style.background-color]="rubik_block_color[53]"></button>
  </div>
         </div>
      </div>
    </div>
   }
}
@else if(rubikName=="Rubik’s Apprentice 2x2")
{   @if(is_camera_click)
  {
   <div class="show-video">
    <h2>Hello man</h2>    
    <!-- <video #video_player width="650" height="650" autoplay></video> -->
   </div>
  }
  @if(isShowThreeD)
  {
    <div class="rubik-view" (mousedown)="startRotate($event)" (mouseup)="stopRotate()" >
      <div class="rubik-cube" [style.transform]="cubeRotateStyle">    
      <div class="rubik-face front">
        <button class="block_2x2 front-color" data-field="9" id="9" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[8]"></button>
        <button class="block_2x2  front-color" data-field="10" id="10" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[9]"></button>
        <button class="block_2x2  front-color" data-field="11" id="11" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[10]"></button>
        <button class="block_2x2  front-color" data-field="12" id="12" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[11]"></button>
     
      </div>
      <div class="rubik-face back">
          <button class="block_2x2  back-color" data-field="17" id="17" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[16]"></button>
          <button class="block_2x2 back-color" data-field="18" id="18" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[17]"></button>
          <button class="block_2x2  back-color" data-field="19" id="19" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[18]"></button>
          <button class="block_2x2  back-color" data-field="20" id="20" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[19]"></button>
      

        </div>
        <div class="rubik-face top">
          <button class="block_2x2  top-color" data-field="1" id="1" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[0]"></button>
          <button class="block_2x2  top-color" data-field="2" id="2" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[1]"></button>
          <button class="block_2x2 top-color" data-field="3" id="3" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[2]"></button>
          <button class="block_2x2 top-color" data-field="4" id="4" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[3]"></button>
        </div>
        <div class="rubik-face bottom">
          <button class="block_2x2  bottom-color" data-field="21" id="21" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[20]"></button>
          <button class="block_2x2  bottom-color" data-field="22" id="22" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[21]"></button>
          <button class="block_2x2  bottom-color" data-field="23" id="23" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[22]"></button>
          <button class="block_2x2  bottom-color" data-field="24" id="24" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[23]"></button>
          
        </div>
        <div class="rubik-face left">
          <button class="block_2x2  left-color" data-field="5" id="5" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[4]"></button>
          <button class="block_2x2  left-color" data-field="6" id="6" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[5]"></button>
          <button class="block_2x2  left-color" data-field="7" id="7" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[6]"></button>
          <button class="block_2x2  left-color" data-field="8" id="8" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[7]"></button>
        </div>
        <div class="rubik-face right">
          <button class="block_2x2  right-color" data-field="13" id="13" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[12]"></button>
          <button class="block_2x2  right-color" data-field="14" id="14" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[13]"></button>
          <button class="block_2x2  right-color" data-field="15" id="15" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[14]"></button>
          <button class="block_2x2  right-color" data-field="16" id="16" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[15]"></button>
       
        </div>
  </div>
  </div>
  <div class="rotate-btn">
    <button class="left-rotate-btn"(click)="rotateLeftButton()">
      <img class="left-img" src="assets/images/curved-left-arrow.png" (mouseover)="changeImage('assets/images/arrow-left.png','left')" (mouseout)="changeImage('assets/images/curved-left-arrow.png','left')" alt="curved-left-arrow.png" [src]="curr_left_img">
  </button>
    <button class="up-down-btn" (click)="rotateUpsideDown()"><img class="up-down-img" src="assets/images/down-arrow.png" alt="down-arrow.png" (mouseover)="changeImage('assets/images/down-arrow (1).png','up-down')" (mouseout)="changeImage('assets/images/down-arrow.png','up-down')" [src]="curr_up_down_img"></button>
    <button class="right-rotate-btn" (click)="rotateRightButton()"><img class="right-img" src="assets/images/next.png" alt="next.png" (mouseover)="changeImage('assets/images/share.png','right')" (mouseout)="changeImage('assets/images/next.png','right')" [src]="curr_right_img"></button>
  </div>
  }
  @else
  {
    <div class="rubik-flat-view">      
      <div class="rubik-flat-cube">
        <div class="row">
          <div class="rubik-flat-face top-flat">
            <button class="block_2x2 top-color" data-field="1" id="1" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[0]"></button>
            <button class="block_2x2 top-color" data-field="2" id="2" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[1]"></button>
            <button class="block_2x2 top-color" data-field="3" id="3" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[2]"></button>
            <button class="block_2x2 top-color" data-field="4" id="4" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[3]"></button>
          </div>
        </div>
        <div class="row">
        <div class="rubik-flat-face left-flat">
            <button class="block_2x2 left-color" data-field="5" id="5" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[4]"></button>
            <button class="block_2x2 left-color" data-field="6" id="6" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[5]"></button>
            <button class="block_2x2 left-color" data-field="7" id="7" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[6]"></button>
            <button class="block_2x2 left-color" data-field="8" id="8" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[7]"></button>
        </div>
        <div class="rubik-flat-face front-flat">
          <button class="block_2x2 front-color" data-field="9" id="9" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[8]"></button>
          <button class="block_2x2 front-color" data-field="10" id="10" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[9]"></button>
          <button class="block_2x2 front-color" data-field="11" id="11" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[10]"></button>
          <button class="block_2x2 front-color" data-field="12" id="12" (click)="changeBlockColor($event)" [style.background-color]="rubik_2x2_block_color[11]"></button>
        </div>
          <div class="rubik-flat-face right-flat">
            <button class="block_2x2 right-color" data-field="13" id="13" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[12]"></button>
            <button class="block_2x2 right-color" data-field="14" id="14" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[13]"></button>
            <button class="block_2x2 right-color" data-field="15" id="15" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[14]"></button>
            <button class="block_2x2 right-color" data-field="16" id="16" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[15]"></button>
</div>
<div class="rubik-flat-face back-flat">
  <button class="block_2x2 back-color" data-field="17" id="17" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[16]"></button>
  <button class="block_2x2 back-color" data-field="18" id="18" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[17]"></button>
  <button class="block_2x2 back-color" data-field="19" id="19" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[18]"></button>
  <button class="block_2x2 back-color" data-field="20" id="20" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[19]"></button>
</div>
</div>  

<div class="row">
  <div class="rubik-flat-face bottom-flat">
    <button class="block_2x2 bottom-color" data-field="21" id="21" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[20]"></button>
    <button class="block_2x2 bottom-color" data-field="22" id="22" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[21]"></button>
    <button class="block_2x2 bottom-color" data-field="23" id="23" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[22]"></button>
    <button class="block_2x2 bottom-color" data-field="24" id="24" (click)="changeBlockColor($event)"  [style.background-color]="rubik_2x2_block_color[23]"></button>
  </div>
         </div>
      </div>
    </div>
  }
}
@else
{
<div class="not-found-view">
 <app-not-found></app-not-found> 
 </div>
}    
   <div class="show-camera">
   <button class="btn-camera" (click)="cameraClick()">
    <img src="assets/images/dslr-camera.png" alt="dslr-camera.png">
    </button>
   </div>
    <div class="color-palette">
       <app-color-palette (update-color)="changeBtnColor($event)"></app-color-palette>
    </div>
    <div class ="support-btn">
    <div class ="sp-btn-border">
    <button class="sp-btn" (click)="blankRubikBlock()">
    <span class="text">
        Blank
    </span>
    <img src="assets/images/icons8-file-30.png" class="img-modi" alt="icons8-file-30.png">
    </button>
    </div>
  <div class="sp-btn-border">
    <button class="sp-btn" (click)="resetRubikBlock()">
    <span class="text">
        Reset
    </span>
    <img src="assets/images/circle-of-two-clockwise-arrows-rotation.png" alt="circle-of-two-clockwise-arrows-rotation.png">
    </button>
    </div>
    <div class="sp-btn-border">
    <button class="sp-btn-special" (click)="scrambleRubikBlock()">
       <span class="text">Scramble</span>
       <img src="assets/images/icons8-double-arrow-64.png" alt="icons8-double-arrow-64.png">
    </button>
    </div>
    </div>
</div>