<header class="header">
    <div class="logo">
      <!-- Replace 'logo.png' with the path to your logo -->
     <a href="/about"> <img src="assets/images/pngegg.png" alt="Logo"></a>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/solve">SOLVE-CUBE</a></li>
        <li><a href ="https://www.spinmaster.com/en-US/customer-support/" target="_blank">SUPPORTS</a></li>
      </ul>
    </nav>
    <div class="dropdown">
        <button class="dropbtn">
          <img class="avatar" src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png" alt="Avatar">
        </button>
        <div class="dropdown-content">
          <a href="" onclick="return false;" (click)="navigateProfile()">Profile</a>
        @if(user.role_id==1)
        {
          <a href="/add-product">Add Product</a>
          <a href="/add-account">Add Account</a>
        }
          <a href="" onclick="return false;" (click)="signOut()">Sign Out</a>
          <!-- Add more dropdown options as needed -->
        </div>
      </div>
  </header>