<header class="header">
    <div class="logo">
      <!-- Replace 'logo.png' with the path to your logo -->
      <img src="assets/images/pngegg.png" alt="Logo">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/products">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/solve">SOLVE-CUBE</a></li>
        <li><a href ="https://www.spinmaster.com/en-US/customer-support/" target="_blank">SUPPORTS</a></li>
      </ul>
    </nav>
    <div class="dropdown">
        <button class="dropbtn">
          <img class="avatar" src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png" alt="Avatar">
        </button>
        <div class="dropdown-content">
          <a href="#">Profile</a>
          <a href="#">Settings</a>
          <a href="" onclick="return false;" (click)="signOut()">Sign Out</a>
          <!-- Add more dropdown options as needed -->
        </div>
      </div>
  </header>