<div class="container">
    <div class="add-account-form">
    <div class="add-account-title">
    <h2>Add New Product</h2>
    </div>

        <form action="" [formGroup]="accountForm" (ngSubmit)="onSubmitForm()" novalidate autocomplete="off">
        <div class="form-group">
        <label for="username">UserName:</label>
        <input type="text" id="username" placeholder="Input Username" class="form-control" formControlName="username" required>
        @if(accountForm.get('username')?.hasError('required') && accountForm.get('username')?.touched){
            <span class="form-error">Username is required</span>
        }
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Input Password" class="form-control" formControlName="password" required>
            @if(accountForm.get('password')?.hasError('required') && accountForm.get('password')?.touched)
            {
                <span class="form-error">Password is required</span>
            }
        </div>
        <div class ="form-group">
            <label for="gender">Gender</label>
            <select class="gender-list" id="gender" formControlName="gender">
            <option value="" disabled>Select gender:</option>
            @for(gender of gender_list;track $index)
            {
                <option [value]="gender">{{gender}}</option>
            }
        </select>
        @if(accountForm.get('gender')?.hasError('required') && accountForm.get('gender')?.touched)
        {
         <span class="form-error">Gender is required</span>
        } 
        </div>
        <div class="form-group">
            <label for="avatar-url">Avatar Url:</label>
            <input type="text" id="avatar-url" placeholder="Input Your Avatar Url" class="form-control" formControlName="avatar" required>
            @if(accountForm.get('avatar')?.hasError('required') && accountForm.get('avatar')?.touched)
            {
                <span class="form-error">Avatar url is required</span> 
            }
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Input Your Email" class="form-control" formControlName="email">
           @if(accountForm.get('email')?.hasError('required') && accountForm.get('email')?.touched)
           {
            <span class="form-error">Email is required</span>
           } 
        </div>
        <div class="form-group">
            <label for="role">Role Type:</label>
          <select class="role-list" id="role" formControlName="role_id">
         <option value="" disabled>Select Role:</option>

          @for(role of role_type_list;track $index)
          {
            <option [value]="role">{{role}}</option>
          }
        </select>
        @if(accountForm.get('role_id')?.hasError('required') && accountForm.get('role_id')?.touched)
        {
         <span class="form-error">Role is required</span>
        } 
        </div>
        <div class="submit">
        <button class="submit-btn" type="submit">Add Product</button>
        </div>
        </form>
    </div>
</div>