<div class="popup-container">
   <div class="popup-content">
    <div class="qr-img">
    <qr-code value="{{qrValue}}" size="100" errorCorrectionLevel="M"></qr-code>
    </div>
    <div class="content">
    <form [formGroup]="sendOtpForm" (ngSubmit)="onSendOtp()" autocomplete="off" novalidate>
    <div class="form-group">
     <label for="phone">Phone:</label>
     <input type="text" id="phone" class="phone" name="phone" placeholder="Input Your Phone Number" formControlName="phone" required>
     @if(sendOtpForm.get('phone')?.hasError('required') && sendOtpForm.get('phone')?.touched){<span class="form-error">Phone Number is required</span>}
     </div>
     <div class="form-group">
     <label for="qr-txt">
      QR Code:
    </label>
     <input type="text" id="qr-txt" class="qr-txt" name="qr-txt" placeholder="Input QR value scanned from above QR image" (change)="qr_onChange($event)" formControlName="qr" required>
     @if(sendOtpForm.get('qr')?.hasError('required') && sendOtpForm.get('qr')?.touched){<span class="form-error">QR Code is required</span>}
     </div>
    <div class="btn-row">
     <button type="submit" class="qr-submit-btn" value="Send OTP">Send OTP</button>
    </div>
     </form>
    </div>
    <div class="content">
      <form [formGroup]="sendForm" (ngSubmit)="onChangePassword()" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="otp">Input OTP:</label>
        <div class="otp-container">
          <input type="text" maxlength="1" (input)="onInput($event,0)" (keydown)="onKeyDown($event,0)" id="otp" name="otp" #otp1>
          <input type="text" maxlength="1" (input)="onInput($event,1)" (keydown)="onKeyDown($event,1)" id="otp" name="otp" #otp2>
          <input type="text" maxlength="1" (input)="onInput($event,2)" (keydown)="onKeyDown($event,2)" id="otp" name="otp" #otp3>
          <input type="text" maxlength="1" (input)="onInput($event,3)" (keydown)="onKeyDown($event,3)" id="otp" name="otp" #otp4>
          <input type="text" maxlength="1" (input)="onInput($event,4)" (keydown)="onKeyDown($event,4)" id="otp" name="otp" #otp5>
          <input type="text" maxlength="1" (input)="onInput($event,5)" (keydown)="onKeyDown($event,5)" id="otp" name="otp" #otp6>
        </div>
      </div>
      <div class="form-group">
        <label for="new_pasword">Input New Password:</label>
        <input type="password" name="new_pasword" id="new_pasword" formControlName="password" required #password>
        @if(sendForm.get('password')?.hasError('required') && sendForm.get('password')?.touched){<span class="form-error">New password is required</span>}
      </div>
      <div class="form-group">
        <label for="re-input_password">
          Re-Input Password:
        </label>
        <input type="password" name="re-input_password" id="re-input_password" formControlName="reconfirm_password" #repassword required>
        @if(sendForm.get('reconfirm_password')?.hasError('required')  && sendForm.get('reconfirm_password')?.touched){<span class="form-error">Reconfirm password is required</span>}
      </div>
      <div class="password-guide">
        <p>-Your password should contains at least 10 characters and include:</p>
        <p>+Uppercase word</p>
        <p>+Special character word</p>
        <p>+Number</p>
        </div>
      <div class="btn-row">
        <button type="submit" class="submit-btn" value="Send">Send</button>
        <button type="button" class="cancel-btn" value="Cancel" (click)="closeForm()">Cancel</button>
       </div>
    
      </form>
    </div>
    </div>
</div>