<div class="container">
    <div class="profile-title">
        <h2>{{user.username}}'s Profile</h2>
    </div>
    <img src={{user.avatar}} alt={{user.avatar}} class="avatar">
    
    <div class="user-profile">
     <table class="table-info">
   <tr>
    <td>Username:</td>
    <td>{{user.username}}</td>
   </tr>
    <tr>
        <td>
        Gender:
        </td>
        <td>
            {{user.gender}}
        </td>
    </tr>
    <tr>
        <td>
        Email:
        </td>
     <td>
        {{user.email}}
    </tr>
    <tr>
        <td>
            Phone Number:
        </td>
        <td>
            {{user.phone}}
        </td>
    </tr> 
    <tr>
        <td>
        Created Date:
        </td>
         <td>
            {{user.created_date}}
         </td>
    </tr>
    <tr>
        <td>
            Last Active:
        </td>
        <td>
            {{user.last_action}}
        </td>
    </tr>
    <tr>
        <td>
        Role:
        </td>
        <td>
            {{role}}
        </td>
    </tr>
     </table>

    <button class="back_btn" (click)="backHomePage()">Back To HomePage</button>
    </div>
</div>