<div class = "container">
<div class ="main-content">
<div class ="product-image">
  <img src={{rubik_main_image}} alt={{rubik_main_image}}>
</div>
<div class ="product-info">
    <h2>{{rubik.name}}</h2>
    <div class ="spacing">
    <p [innerHtml]="getDescription()"></p>
    <a href="" onclick="return false;" (click)="toggleButton()">{{!showFullDescription?'Read more':'Read less'}}</a>
    </div>
</div>
</div>

<button (click)="scrollImage(-1)"  class="scroll-left-btn"><img src="assets/images/left-arrow.png"></button>

<div class ="small-images-container" #scrollableImages>
    
    
    @for(image of detailImage;track $index)
    {
        <div class ="small-image">
         <img src ={{image}} alt={{image}} (click)="imageChange(image)">
        </div>
    }
</div>

    
<button (click)="scrollImage(1)" class="scroll-right-btn"><img src="assets/images/right-arrow.png"></button>

</div>
