<div class="container">
    <div class="profile-title">
        <h1>Device List:</h1>
    </div> 
    <div class="excel-file">
     <div class="excel-btn">
        <input type="file" #fileInput style="display:none;"(change)="onFileChanges($event)">
        <button class="btn-excel" (click)="fileInput.click()">
            <img class="btn-img" src="assets/images/excel.png" alt="excel">
            <span class="text">
                Import Excel
            </span>
        </button>
     </div>
     <div class="excel-btn">
        <button class="btn-excel" (click)="exportTableToExcel()">
            <img class="btn-img" src="assets/images/excel.png" alt="excel">
            <span class="text">
                Export Excel
            </span>
        </button>
     </div>
    </div>
     <table class="table-info">
    <thead>
        <tr>
            <th>Id</th>
            <th>Device Name</th>
            <th>Created Date</th>
            <th>Function</th>
            <th>Status</th>
        </tr>
    </thead>
<tbody>
    @if(listDevices==null || listDevices.length==0)
    {
     <tr>
        <td colspan="5" class="no-item">There is no device found for this user</td>
     </tr>
    }
     @else
    {
      @for(device of listDevices;track $index)
      {<tr>
        <td>{{$index+1}}</td>
        <td>{{device.device_name}}</td>
        <td>{{device.created_date}}</td>
        <td><button class="del-btn" (click)="deleteDevice(device.username,device.device_name)">Delete</button></td>
        <td>
        @if(!device.status)
        {
         <img src="assets/images/icons8-red-circle-48.png" alt="red-circle" class="status-icon">
        }
        @else
        {
            <img src="assets/images/icons8-green-dot-48.png" alt="red-circle" class="status-icon">
        }
        </td>
        </tr>
      }
    }
    </tbody>
 </table>
    <button class="add-device-btn" (click)="addDevice()">Add New Device</button>
</div>