<div class="full-container">
<div class="video-section">
  <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted=true" preload="auto" src="assets/video/rubiks-hero-banner.mp4"></video>
</div>
<div class="section" id="section1">
    <div class="container-2">
        <div class="left-1">
            <h1 class="cube-h1">
                Coach Cube
              </h1>  
            <div class="coach-content">
                <p>Solve Quicker with Stickers! Introducing the Coach Cube, the easiest way to learn how to solve!</p>
            
            <a href="https://coach.rubiks.com/" class="academy-btn" target="_blank">Learn more...</a>
            </div>
        </div>
        <div class="right-1">
         <img src="assets/images/coach-img__1_.webp" alt="coach-img">
        </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="container-2">
        <div class="left-2">
            <img src="assets/images/academy-img.webp" alt="academy-img">
        </div>
        <div class="right-2">
        <h1>
       Rubik Academy
        </h1>
        <div class="academy-content">
            <p>Our U.S. education program for teachers brings a unique learning experience to your classroom. Rubik's Academy utilizes the beloved Rubik's Cube to teach your students problem-solving, critical thinking, & teamwork skills. You will receive Rubik's Cubes, access to lesson plans, student certificates, and more.</p>
            <a class="academy-btn" href="https://therubiksacademy.us/" target="_blank">GET INFO</a>
        </div>
        </div>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="container-2">
        <div class="left-3">
         <img src="assets/images/phantom-img.webp" alt="phantom-img">
        </div>
        <div class="right-3">
           <h1 class="cube-h1">Phantom Cube</h1>
           <div class ="phantom-cube-content">
            <p>Introducing the next evolution of the iconic 3x3 puzzle. Reveal the Phantom’s colors with the heat of your touch and solve the Cube before it fades back to black
                <br>
                <br>
                Touch…Reveal…Solve.™</p>
            <a class="academy-btn" href="" target="_blank">Learn more</a>
           </div>
        </div>
    </div>
  </div>
  <div class="section" id="section4">
     <div class="container-4">
        <div class="left-4">
            <img src="assets/images/ernos_rubik.png">
        </div>
        <div class="right-4">
          <h1>About Rubik's Cube</h1>
          <div class="rubik-cube-content">
           <p>Where’s the Rubik’s Cube from? Who invented it? Looking for more info on the Rubik’s Cube? You’ve come to the right place!
            <br>
            <br>
            The Rubik’s Cube was invented in 1974 by Ernõ Rubik, a Hungarian architecture professor. Rubik later used the Cube as a learning exercise to teach his students about 3-dimensional spaces. Little did he know his “Magic Cube” (as he originally named it) would become one of world’s most famous puzzles of all time!
            <br>
            <br>
            By the 1980’s, the Rubik’s Cube was a worldwide craze selling millions of Cubes every year and cementing its legacy into pop culture. Featured in The Simpsons, The Big Bang Theory, a Spice Girls music video, and major Hollywood movies, the popularity of the Rubik’s Cube continued to grow around the world.
            <br>
            <br>
            Today, the Rubik’s Cube is revered as one of the most beloved toys of all time. Each year millions of Cubes are sold, solved, and shared among friends, families, and puzzle seekers alike. So, join the Cube community and become a part of history!
            <br>
            <br>
           </p>
          </div>
        </div>

     </div>
  </div>
  <div class="section" id="section5">
    <!-- Content for section 5 -->
  </div>
  </div>

