<div class="rubiks-cube-container">
    <div class="rubiks-cube">
      <div class="rubiks-face front">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>

      </div>
      <div class="rubiks-face back">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>

      </div>
      <div class="rubiks-face top">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>

      </div>
      <div class="rubiks-face bottom">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      </div>
      <div class="rubiks-face left">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>

      </div>
      <div class="rubiks-face right">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      </div>
    </div>
  
    <div class="login-form">
      <h2>Login</h2>
      <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" autocomplete="off" novalidate>
        <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username" name="username" class="form-control" formControlName="username" required>
        @if(loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched) {<span class="form-error">Username is required</span>}
        </div>
        <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" class="form-control" name="password" formControlName="password" required>
        @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {<span class="form-error">Password is required</span>}
        </div>
        <div class="capcha">
          <div class="capcha-detail">
          <div class="capcha-item">
            <span class="capcha-content">{{capcha.first_number}} {{capcha.operator}} ? = {{capcha.result_number}}</span>
          </div>
         </div>
         <div class="capcha-input">
          <div class="capcha-input-row">
          <label for="capcha-res">Your result is:</label>
          <input type="number" id="capcha-res" name="capcha-res" class="capcha-res" #capchaInput required>
          <button class="refresh-capcha-btn" type="button" (click)="refreshCapcha()">
            <img src="assets/images/refresh.png">
          </button>
        </div>
       @if(!is_valid_capcha){<span class="form-error capcha-break-row"><p>Your result is incorrect</p></span>}
         </div>
         </div>
        <button type="submit" class="btn btn-primary center-button">Login</button>  
      </form>
    </div>
  </div>